In This code block I have implemented the concept of Decision Tree Algorithm to classify a medical dataset to predict the prescribed drug to the new patients as per the past experience. The dataset consists of 3 categorical variables which needs to be converted into binary format before predicting.

In [52]:
import numpy as np 
import pandas as pd
from sklearn.tree import DecisionTreeClassifier

In [4]:
dataset = pd.read_csv("drug200.csv")

In [8]:
dataset.head(5)

   Age Sex      BP Cholesterol  Na_to_K   Drug
0   23   F    HIGH        HIGH   25.355  drugY
1   47   M     LOW        HIGH   13.093  drugC
2   47   M     LOW        HIGH   10.114  drugC
3   28   F  NORMAL        HIGH    7.798  drugX
4   61   F     LOW        HIGH   18.043  drugY

Converting the categorical variables into binary variables using dummies method. Categorical variables are those which have different other categories in the same column.

In [53]:
Sex = pd.get_dummies(dataset["Sex"],drop_first=True)
BP = pd.get_dummies(dataset["BP"], drop_first=True)
Cholesterol = pd.get_dummies(dataset["Cholesterol"], drop_first=True)

In [54]:
Cholesterol

     NORMAL
0         0
1         0
2         0
3         0
4         0
..      ...
195       0
196       0
197       0
198       1
199       1

[200 rows x 1 columns]

In [55]:
X = pd.concat([Sex,BP,Cholesterol,dataset["Age"],dataset["Na_to_K"]],axis=1)

In [56]:
X

     M  LOW  NORMAL  NORMAL  Age  Na_to_K
0    0    0       0       0   23   25.355
1    1    1       0       0   47   13.093
2    1    1       0       0   47   10.114
3    0    0       1       0   28    7.798
4    0    1       0       0   61   18.043
..  ..  ...     ...     ...  ...      ...
195  0    1       0       0   56   11.567
196  1    1       0       0   16   12.006
197  1    0       1       0   52    9.894
198  1    0       1       1   23   14.020
199  0    1       0       1   40   11.349

[200 rows x 6 columns]

In [57]:
X = X.values
type(X)

numpy.ndarray

In [58]:
y = dataset["Drug"]

In [59]:
type(y)

pandas.core.series.Series

In [60]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

In [61]:
print(X_train.shape)
print(y_train.shape)

(134, 6)
(134,)

Using DecisionTreeClassifier, on the basis of entropy we are classifying which column to be taken as the base splitter for building the complete decision tree. It will help to decide which drug should be given to the patients after buiding the complete decision tree.

In [44]:
drugTree = DecisionTreeClassifier(criterion="entropy" , max_depth=4)
drugTree

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='entropy',
                       max_depth=4, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [45]:
drugTree.fit(X_train,y_train)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='entropy',
                       max_depth=4, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [47]:
y_pred = drugTree.predict(X_test)

In [50]:
from sklearn.metrics import accuracy_score
print("The accuracy obtained is :",accuracy_score(y_test,y_pred))

The accuracy obtained is : 1.0